body {
	max-width: 375px;
	margin: auto;
}

main {
	display: grid;
	grid-gap: 40px;
	margin: 25px;
}

header {
	margin: 50px 25px;
}

section {
	height: 250px;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

img {
	max-width: 60px;
	align-self: flex-end;
}

h1,
h2 {
	margin: 0;
}

section h3,
section p {
	margin-top: 0;
}

section p {
	margin-bottom: 50px;
}

@media (min-width: 768px) {
	body {
		max-width: 768px;
	}

	main {
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		margin: 0 auto;
	}
}
